.navbar {
  background-color: #252525;
  padding: 0.5em;
  margin: none;
  color: whitesmoke;
}

.search__box {
  float: right;
  /* position: relative;
  left: 40rem; */
  padding: 0.2rem;
}

.input {
  float: right;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 15em;
  /* height: 1.5em; */
  border-radius: 1em;
  padding: 0.5rem;
}
